<div class"well">
  <h4>Jen is super duper!</h4>
</div>



<% if @friend %>
<h1><%= @friend.first_name %></h1>

<p>Do you really want to friend <%= @friend.biz_name %></p>

<%= form_for @user_friendship, method: :post do |form| %>
 <div class="form form-actions">
  <%= form.hidden_field :friend_id, value: @friend.biz_name %>
  <%= submit_tag "Yes, Add Friend", class: 'btn btn-primary' %>
    <%= link_to "Cancel", user_path(@friend), class: 'btn' %>

  </div>
 <% end %>
<% end %>
  

