

<div class="row">
<div class="span12">
<div class="page-header">
 <div class="well">
  <% if current_user == @user %>
	<h1><%= link_to image_tag(@user.gravatar_url), user_path %><%= @user.first_biz_name.capitalize %> 
</h1>
   
  <%= link_to "Edit Profile", edit_user_registration_path %><br>
  <a href="#myModal1" role="button" class="btn" data-toggle="modal">Add Pin</a>
  <% else %>
<h1><%= link_to image_tag(@user.gravatar_url), user_path %><%= @user.first_biz_name.capitalize %> <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn'%>
</h1>
  <% end %>

</div>
 

 </div></div></div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      
      <!--Sidebar content-->
      <% if current_user == @user %>
      <h3>Post your Comment</h3>
      <% @status = Status.new if @status.nil? %>

<%= simple_form_for(@status, html: {class: ""}) do |f| %>
  <%= f.error_notification %>

  <div class="">
    
    <%= f.text_area :content,  placeholder: "Hows business today?", label: "Stati Box", :cols => "200", :rows => "4" %>

  </div>

  <div class="">
    <%= f.button :submit, class: "btn-small btn-primary" %>
  </div>


      
<% end %><% end %> 


<% if current_user == @user %>
<h3>I got me some friends</h3>
<% @user_friendships.each do |friendship| %>
  <% friend = friendship.friend %>
  <div id="<%= dom_id(friendship) %>" class="friend row">
    <div class="span1 offset1">

      <%= link_to image_tag(friend.gravatar_url), user_path(friend.biz_name) %>  
    </div>
    <span class="admin">
       <strong> <%= link_to friend.biz_name, user_path(friend.biz_name) %></strong> | <%= link_to 'edit',edit_user_friendship_path(friendship.friend.biz_name) %>
    </span>
     </div> 
<% end %>
<% end %>
    
  </div>


   

 
    <div class="span8">
      <h3>Statuses</h3>
 <% if @statuses %>
<% @statuses.each do |status| %>
    <div class="well">
      <%= link_to image_tag(status.user.gravatar_url), user_path(status.user) %>
      <%= status.content %>
      <br>
      <%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
    </div>
    <% end %>
  <% end %>

      <!--Body content-->
    </div>
  </div>
</div>
