<div class="navbar-wrapper">

 <div class="container">
  <div class="navbar navbar-inverse">
   <div class="navbar-inner">
    
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "EntreCommunity", root_path, class: "brand" %>
	      <div class="nav-callapse">
	      	<ul class="nav">
	 
				    <li> <%= link_to "Home", root_path %></li>
				    <li> <%= link_to "About", about_path %></li>
            <li> <%= link_to "", about_path %></li>
            

			</ul>
      
         
          <ul class="nav pull-right">
            <% if user_signed_in? %>
                   <li> <%= link_to "Statuses", statuses_path %></li>
                  <li><%= link_to "Add +", new_pin_path %></li>
                  <li><%= link_to "Edit", edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                      <li> <%= link_to "Registration", new_user_registration_path %></li>
                      <li><%= link_to "Login", new_user_session_path %></li>
                  <% end %>
                
           </ul>
		      <!--<div class="btn-group">
                <a class="btn btn-inverse" href="#"><i class="icon-user icon-white"></i> User</a>
                <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>

                <ul class="dropdown-menu">-->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
 
    </div>
  </div>
</div>
</div>


<% if user_signed_in? %>

<div class="panel">
  <h3>Sliding Panel</h3>
  <p>Here's our sliding panel/drawer made using jQuery with the toggle function and some CSS3 for the rounded corners</p>

  <p>This panel could also be placed on the right. This could be particularly useful if, <a href="http://spyrestudios.com" title="SpyreStudios">like me</a>, you have a left-aligned website layout.</p>

  <h3>A Little Something About Me</h3>
  <img class="right" src="images/jon_image.jpg" alt="Jon Phillips" />
  <p>My name's Jon, I'm a freelance designer, blogger, musician. I run SpyreStudios and I specialize in WordPress blogs, CSS, XHTML and PHP</p>

<div style="clear:both;"></div>
<div class="columns">
  <div class="colleft">
  <h4>Navigation</h4>
    <ul>
      <li><a href="http://spyrestudios.com/" title="home">Home</a></li>
      <li><a href="http://spyrestudios.com/about/" title="about">About</a></li>
      <li><a href="http://spyrestudios.com/portfolio/" title="portfolio">Portfolio</a></li>
      <li><a href="http://spyrestudios.com/contact/" title="contact">Contact</a></li>
      <li><a href="http://spyrestudios.com" title="blog">Blog</a></li>
    </ul>
  </div>

  <div class="colright">
    <h4>Social Stuff</h4>
    <ul>
      <li></li>
      <li><a href="http://designbump.com/user/147" title="DesignBump">DesignBump</a></li>
      <li><a href="http://digg.com/users/jophillips" title="Digg">Digg</a></li>
      <li><a href="http://delicious.com/jon.phillips" title="Del.Icio.Us">Del.Icio.Us</a></li>
      <li><a href="http://designmoo.com/users/jonphillips" title="DesignMoo">DesignMoo</a></li>
    </ul>
  </div>
</div>
<div style="clear:both;"></div>

</div>
<a class="trigger" href="#">Websites</a>







<% end %>

