<div class="navbar-wrapper">

 <div class="container">
  <div class="navbar navbar-inverse">
   <div class="navbar-inner">
    
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "EntreCommunity", root_path, class: "brand" %>
	      <div class="nav-callapse">
	      	<ul class="nav">
	 
				    <li> <%= link_to "Home", root_path %></li>
				    <li> <%= link_to "About", about_path %></li>
            <li> <%= link_to "", about_path %></li>
            

			</ul>
      
         
          <ul class="nav pull-right">
            <% if user_signed_in? %>
                  
 

                  <li><a data-target="#myModal" href="#" role="button" data-toggle="modal">Add Pin</a></li>
                   <li> <%= link_to "Statuses", statuses_path %></li>
                  <li><%= link_to "Add +", new_pin_path %></li>
                  <li> <%= link_to "profile", user_path(current_user) %></li>
                  <li><%= link_to "Logout", logout_path, method: :delete %></li>
                  <% else %>
                      <li> <%= link_to "Registration", register_path %></li>
                      <li><%= link_to "Login", login_path %></li>
                  <% end %>
                
           </ul>
		      <!--<div class="btn-group">
                <a class="btn btn-inverse" href="#"><i class="icon-user icon-white"></i> User</a>
                <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>

                <ul class="dropdown-menu">-->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
 
    </div>
  </div>
</div>
</div>


