<!DOCTYPE html>
<html>
	<head>
	  <title>EntreCommunity</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  

	</head>
		<body>
		
		 <%= render 'layouts/header' %>
			 <div class="container">
			 	<% flash.each do |name, msg| %>
			 		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			 		<% end %>
	   
			<%= yield %>
			<%= render 'layouts/footer' %>




	         </div>
	         
		</body>
</html>


<!-- Modal -->
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create A new Pin</h3>
  </div>
  <div class="modal-body">
    <p>
      



<%= render :partial => 'pins/form'%>




</p>
</div>
  
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel1">Create A new Status</h3>
  </div>
  <div class="modal-body">
    <p>
      



<%= render :partial => 'statuses/form'%>




</p></div>
