<!DOCTYPE html>
<html>
	<head>
	  <title>EntreCommunity</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <script type="text/javascript">$('#myContent li').wookmark({offset: 2});</script>
	  <script type="text/javascript" src="jquery.wookmark.js"></script>

	</head>
		<body>
		
		 <%= render 'layouts/header' %>
			 <div class="container">
			 	<% flash.each do |name, msg| %>
			 		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			 		<% end %>
	   
			<%= yield %>
			<%= render 'layouts/footer' %>




	         </div>
		</body>
</html>
